.catalog__row
  display flex
  justify-content: space-between;

.catalog__col
  width 50%
  overflow: auto;
  max-height: 660px

.catalog__second__col
  width: 50%
  overflow: auto;
  max-height: 660px

.category__name
  display flex
  align-items: center;
  font-size 14px
  font-family: "Montserrat";

.open__category__toggle
  padding-right 5px

.subcategory__wrapper
  padding-left 25px
  padding-bottom 15px

.subcategory__name
  font-size 14px
  font-family: "Montserrat";
  margin 0
  padding-top: 10px

.adding__btn
  color: #3975ce;
  font-size: 14px;
  font-family: "Montserrat";
  border: 1px solid #3975ce;
  border-radius: 10px;
  padding: 15px 0
  margin-bottom 15px
  cursor: pointer;
  display: flex;
  justify-content: center;
  cursor: pointer;

.product__item
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content: space-between;
  margin-bottom: 30px

.product__item__small__box
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;


.product__photo
  width 86px
  height 86px
  border-radius: 8px

.product__price__number
  font-size: 18px;
  font-family: "Montserrat";
  margin-bottom: 0px
  margin-top 10px


.product__price__currency
  font-size: 16px;
  font-family: "Montserrat";
  margin: 0

.product__item__big__box
  width: 225px

.product__name
  font-size: 14px;
  font-family: "Montserrat";
  margin: 0
  padding-bottom 15px
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%
  font-weight: 500;

.about__product
  font-size: 10px;
  font-family: "Montserrat";
  margin 0
  padding-bottom 15px
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.4;

.product__item__bottom__btns
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content: space-between;

.product__edit__btn
  color: #3975ce;
  font-size: 12px;
  font-family: "Montserrat";
  text-decoration: underline;
  cursor: pointer;

.sub__container__cart
  margin-left: 23px;

.sub__container__cart__item, .category__parent__name
  cursor: pointer;
  font-family: "Montserrat";

.sub__container__cart__item
  margin-bottom: 7px;
  font-family: "Montserrat";

.category__parent__name-arrow-down
  margin-right: 10px;
  transition: all 100ms ease;

.category__parent__name-arrow-down-active
  transform: rotate(180deg);

.base__item__short__description
  color: #c5c4c4;
  font-family: "Montserrat";
  font-size: 12px;
