
// .icon__favorites__item
//   height: 77px;
//   width: 60px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   flex-direction: column;
//   margin-bottom: 25px;
//   padding: 0 13px;
//   cursor: pointer;
//
// .icon__favorites__item__icon
//   margin: 0;
//   font-family: "Montserrat";
//   font-size: 12px;
//   color: #000;
//   font-weight: bolder;
//   padding-top: 10px;
//   text-align: center;
//
// .icon__favorites__container
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: flex-start;
//   padding: 25px 15px 10px 15px;
//   height: 190px;
//   overflow: hidden;
//   transition: all 500ms ease;
//
// .interesting__container
//   padding: 0 12px;
//
// .interesting__item
//   border-radius: 12px;
//   width: 100%;
//   box-shadow: 0px 0px 11px #d4d4d4;
//
// .interesting__item__header
//   border-radius: 12px 12px 0 0;
//   height: 40px;
//   background: #fff;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//
// .interesting__item__header__title
//   padding: 0;
//   margin: 0;
//   font-size: 16px;
//   color: #000;
//   font-weight: bold;
//
// .interesting__item__content
//   display: flex;
//   flex-direction: column-reverse;
//   padding-top: 7px;
//
// .interesting__item__content__img
//   width: 100%;
//   margin-top: -7px;
//
// .line__container
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   margin-top: 10px;
//   cursor: pointer;
//
// .reclam__banner__favorites
//   padding: 12px;
//   padding-bottom: 0;
//
// .reclam__banner__item__image
//   width: 100%;
//
// .favorites__footer
//   width: 83%;
//   padding: 0 30px;
//   display: flex;
//   justify-content: space-between;
//   margin-top: 5px;
//   margin-bottom: 10px;
//
//
// .favorites__footer__text
//   font-family: "Montserrat";
//   color: #3975ce;
//   font-size: 10px;
//   cursor: pointer;
//   font-weight: 600;
//
// .reclam__container__favorite
//   transition: all 500ms ease;
//   opacity: 1;

.favorites__main__container
  width 92%
  padding: 0 30px

.discount__user__header
  display -webkit-flex
  display -ms-flex
  display flex
  width 100%
  height 74px
  align-items center;
  position: relative;
  margin-bottom 30px

.user__photo
  width 59px
  height 59px
  border-radius: 50%;
  margin-right 32px
  margin-left 5px

.user
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;
  justify-content: space-between;
  height 57px
  width 190px
  margin-right 56px

.user__surname
  font-size: 15.78px;
  font-family: "Montserrat";
  margin 0
  font-weight: 500;

.user__name
  font-size: 15.78px;
  font-family: "Montserrat";
  margin 0
  padding-bottom 12px
  font-weight: 500;

.user__awards__row
  display -webkit-flex
  display -ms-flex
  display flex

.user__award__item
  width 12px
  height 12px
  padding-right 8px

.user__status
  width 145px
  height 57px
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;
  margin-right 145px

.discont__status
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  position relative
  padding-bottom 12px
  font-weight: 500;

.help__btn
  position: absolute;
  top: -5px;
  right: 6px;
  cursor: pointer

.user__email
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae
  padding-bottom 12px
  width: 303px;
  span
    margin-left: 20px;

.edit__pofile__btn
  cursor: pointer;
  font-size: 9px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae

.logout__btn
  position: absolute;
  font-size: 9px;
  font-family: "Montserrat";
  top: 10px;
  right: 10px
  color: #aeaeae
  cursor: pointer;

.discount__main__container
  width: 100%
  padding 0 30px

.favorites__main__row
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content space-between
  height: 590px
  overflow: auto;

.favorites_col
  width 47%
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;

.favorites__second__col
  width 53%
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;

.favorite__category__item
  width: 290px
  height: 45px
  padding: 0 15px
  display -webkit-flex
  display -ms-flex
  display flex
  align-items: center;
  justify-content space-between
  border-radius: 10px;

.notList
  font-family: "Montserrat";
  font-size: 12px;
  color: #ababab;
  text-align: center;
  margin-top: 15px;

.active
  background-color: #f7f7f7

.favorite__category__name
  margin: 0;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight 400
  position: relative;
  cursor: pointer;

.favorite__category__count
  position: absolute;
  margin 0
  font-family: "Montserrat";
  font-size: 12px;
  top -5px
  right: -13px
  color: #6d6d6d;

.favorite__category__edit__btn
  margin 0
  font-family: "Montserrat";
  font-size: 9px;
  color: #aeaeae
  cursor: pointer

.favorite__category__edit__btn__save
  margin 0
  font-family: "Montserrat";
  font-size: 9px;
  color: #5256ec;
  cursor: pointer

.favorite__content__item
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content space-between
  padding: 0 10px 0 15px;
  margin-bottom 28px

.favorite__item__col
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;

.favorite_item__name
  margin 0
  font-family: "Montserrat";
  font-size: 16px;
  padding-bottom 14px
  cursor: pointer;

.favorite__item__address
  margin 0
  font-family: "Montserrat";
  font-size: 12px;

.favorite__item__remove__btn
  margin 0
  font-family: "Montserrat";
  font-size: 9px;
  color: #aeaeae
  cursor: pointer

.foto__user__review__not
  height: 59px;
  width: 59px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #aaa;
  font-weight: 400;
  font-size: 25px;
  margin-right 32px
  margin-left 5px

.mini__medal
  width: 8px

.not__awards__header
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae
  width 100%

.input__favorites__rename
  margin: 0;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid rgb(163, 163, 163);

.input__favorites__rename:focus
  outline: none;

.displayNone
  display: none;
