.login__container
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100%;
  align-items: center;

.auth__registr__container
  width: 640px;
  height: 620px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 20px #0000002e;
  z-index: 99999;
  position: relative;

.close__icon
  width: 30px;
  position: absolute;
  right: 23px;
  top: 25px;
  cursor: pointer;

.close__icon:focus
  outline: none;

.auth__registr__row
  width: 100%;
  display: flex;
  justify-content: space-between;

.auth__registr__col
  width: 50%;
  padding: 60px 35px;


.auth__registr__col__title
  padding-left: 20px;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  color: #000;

.login__input
  font-family: "Montserrat";
  font-size: 14px;
  height: 45px;
  width: 263px;
  border: 1px solid #dfdfdf;
  outline: none;
  border-radius: 10px;
  padding-left: 20px;
  margin-top: 20px;

.login__input::placeholder
  font-family: "Montserrat";
  color: #bdbdbd;
  font-size: 14px;

.password__input
  font-family: "Montserrat";
  font-size: 14px;
  height: 45px;
  width: 263px;
  border: 1px solid #dfdfdf;
  outline: none;
  border-radius: 10px;
  padding-left: 20px;
  margin-top: 20px;

.password__input::placeholder
  font-family: "Montserrat";
  color: #bdbdbd;
  font-size: 14px;

.auth__registr__submit__container
  display: flex;
  width: 287px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

.submit__btn__login
  color: #3975ce;
  font-size: 14px;
  font-family: "Montserrat";
  border: 1px solid #3975ce;
  border-radius: 10px;
  padding: 15px 15px;
  cursor: pointer;

.submit__btn__login:focus
  outline: none;
  background: #3975ce;
  color: #fff;

.rebember__pass__btn
  color: #3975ce;
  font-size: 14px;
  font-family: "Montserrat";
  margin: 25px 0px;
  cursor: pointer;

.privacy__text
  color: #a7a3a3;
  font-size: 9px;
  line-height: 18px;

.privacy__text__btn
  color: #3975ce;
  cursor: pointer;

input#happy
  border-color: #3975ce;

.auth__registr__col__text
  font-family: "Montserrat";
  flex-direction column
  display flex
  font-size: 12px;
  line-height: 18px;
  margin-top: 30px
  span
    padding-bottom: 12px;

.auth__registr__col__btn
  color: #3975ce;
  font-size: 14px;
  font-family: "Montserrat";
  border: 1px solid #3975ce;
  border-radius: 10px;
  padding: 15px 15px;
  width: fit-content;
  margin-top: 49px;
  cursor: pointer;

.auth__registr__col__btn:focus
  outline: none;
  background: #3975ce;
  color: #fff;

.bottom__container
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  color: #3975ce;
  font-size: 12px;
  font-family: "Montserrat";
  text-decoration: underline;

.bottom__link
  padding-top: 10px;
  font-family: "Montserrat";

.bottom__auth__container
  margin-top: 165px;
  color: #3975ce;
  font-size: 12px;
  font-family: "Montserrat";
  text-decoration: underline;
  text-align: right;

.error__login
  margin-top 0
  margin-bottom 0
  color: red
  font-family: "Montserrat";
  font-size: 14px;

.error__password
  margin-top 0
  margin-bottom 0
  color: red
  font-family: "Montserrat";
  font-size: 14px;

.happy__title
  font-family: "Montserrat";
  font-size: 12px;

.happy__container
  display: flex;
  align-items: center;
  font-family: "Montserrat";
