.reviews__main__container
  width 92%
  padding: 0 30px

.reviews__user__header
  display -webkit-flex
  display -ms-flex
  display flex
  width 100%
  height 74px
  align-items center;
  position: relative;
  margin-bottom 30px

.user__photo
  width 59px
  height 59px
  border-radius: 50%;
  margin-right 32px
  margin-left 5px

.user
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;
  justify-content: space-between;
  height 57px
  width 190px
  margin-right 56px

.user__surname
  font-size: 15.78px;
  font-family: "Montserrat";
  margin 0
  font-weight: 500;

.user__name
  font-size: 15.78px;
  font-family: "Montserrat";
  margin 0
  padding-bottom 12px
  font-weight: 500;

.user__awards__row
  display -webkit-flex
  display -ms-flex
  display flex

.user__award__item
  width 12px
  height 12px
  padding-right 8px

.user__status
  width 145px
  height 57px
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;
  margin-right 145px

.discont__status
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  position relative
  padding-bottom 12px
  font-weight: 500;

.help__btn
  position: absolute;
  top: -5px;
  right: 6px;
  cursor: pointer

.user__email
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae
  padding-bottom 12px
  width: 303px;
  span
    margin-left: 20px;

.edit__pofile__btn
  cursor: pointer;
  font-size: 9px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae

.logout__btn
  position: absolute;
  font-size: 9px;
  font-family: "Montserrat";
  top: 10px;
  right: 10px
  color: #aeaeae
  cursor: pointer;


.reviews__items__container
  height: 620px
  overflow: auto;

.review__item
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content space-between
  margin-bottom 30px

.review__organization__col
  width 165px
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;
  cursor: pointer;

.organization__name
  font-size: 16px;
  font-family: "Montserrat";
  margin 0
  font-weight: 500;

.organization__type
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  padding-bottom 5px

.review__date
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae

.review__status__succes
  font-size: 9px;
  font-family: "Montserrat";
  margin 0
  color: #509b00
  font-weight: bold;

.review__text
  width 357px
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  max-height 195px
  overflow: hidden;
  text-overflow: ellipsis;

.succes
  color: #000

.on__moderation
  color: #aeaeae

.canceled
  text-decoration: line-through;

.review__status__moderation
  font-size: 9px;
  font-family: "Montserrat";
  margin 0
  color: #eca700

.review__status__canceled
  font-size: 9px;
  font-family: "Montserrat";
  margin 0
  color: #ef2222
  position: relative;

.review__status__help
  position: absolute;
  top: -7px;
  right: -12px;
  cursor: pointer

.foto__user__review__not
  height: 59px;
  width: 59px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #aaa;
  font-weight: 400;
  font-size: 25px;
  margin-right 32px
  margin-left 5px

.not__review
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae
  width 100%
  text-align: center;
  margin-top: 20px;

.mini__medal
  width: 8px

.not__awards__header
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae
  width 100%
