.registration__container
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;

.auth__registr__container
  width: 640px;
  height: 655px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 20px #0000002e;
  z-index: 99999;
  position: relative;
  overflow: auto;

.close__icon
  width: 30px;
  position: absolute;
  right: 23px;
  top: 25px;
  cursor: pointer;

.close__icon:focus
  outline: none;

.back__icon
  color: #000;
  cursor: pointer;

.back__icon:focus
  outline: none;

.back__btn
  display: flex;
  align-items: center;
  padding-top: 25px;
  margin-left 30px
  cursor: pointer;

.back__btn:focus
  outline: none;

.back__btn__text
  margin: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  font-size 12px
  font-family: "Montserrat";
  font-weight: 500;

.registration__title
  margin-top 40px
  margin-left: 55px;
  font-family: "Montserrat", semibold;
  font-weight: 600;
  font-size: 18px;

.registration__row
  width: 100%;
  display: flex;
  justify-content: space-between;

.registration__col
  width: 50%;
  padding: 10px 35px;

.input__city
  font-family: "Montserrat";
  font-size: 12px;
  height: 45px;
  width: 250px;
  border: 1px solid #dfdfdf;
  outline: none;
  border-radius: 10px;
  padding-left: 20px;
  cursor: pointer;
  font-weight: 500;

.organization__input
  margin-top 20px
  font-family: "Montserrat";
  font-size: 12px;
  height: 41px;
  width: 225px;
  border: 1px solid #dfdfdf;
  outline: none;
  border-radius: 10px;
  padding-left: 20px;
  cursor: pointer;

.organization__input::placeholder
  font-family: "Montserrat";
  font-size: 12px;
  color: #000
  font-weight: 500;

.hint__text
  font-family: "Montserrat";
  font-size: 12px;
  padding-left 20px
  padding-top 40px
  margin 0
  font-weight: 500;

.email__input
  margin-top 20px
  font-family: "Montserrat";
  font-size: 12px;
  height: 41px;
  width: 225px;
  border: 1px solid #dfdfdf;
  outline: none;
  border-radius: 10px;
  padding-left: 20px;
  cursor: pointer;

.email__input::placeholder
  font-family: "Montserrat";
  font-size: 12px;
  color: #000
  font-weight: 500;

.email__hint__text
    font-size 10px
    font-weight: 200;
    padding-left 20px
    margin-bottom: 0px

.access__btn
  color: #3975ce;
  font-size: 14px;
  font-family: "Montserrat";
  border: 1px solid #3975ce;
  border-radius: 10px;
  padding: 15px 15px;
  margin-top 40px
  width: fit-content;
  cursor: pointer;

.access__btn:focus
  outline: none;
  background: #3975ce;
  color: #fff;

.bottom__links__container
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  color: #3975ce;
  font-size: 12px;
  font-family: "Montserrat";
  text-decoration: underline;

.bottom__link
  padding-top: 10px;
  font-family: "Montserrat";

.contact__number
  display: flex;
  margin-top: 15px

.contact__number__icon
  width: 18px;
  height 18px

.contact__number__text
  margin 0
  padding-left: 5px
  font-size 15px
  color: #3975ce;
  text-decoration: underline;

.contact__number__hint
  display: flex;
  flex-direction: column;
  font-weight: 200;
  margin-bottom: 0px;
  font-size: 10px;

.contact__hint
  font-family: "Montserrat";
  font-size: 12px;
  margin-bottom: 0
  font-weight: 500;
  padding-right: 45px;

.bottom__registration__container
  color: #3975ce;
  font-size: 12px;
  font-family: "Montserrat";
  text-decoration: underline;
  margin-top: 350px;
  text-align: end;

.toggle__msg__wait
  width: 320px;
  height: 300px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 20px #0000002e;
  z-index: 99999;
  position: relative;
  display: none;
  .close__icon
    right: 13px;
    top: 15px;
  .toggle__msg__wait__title
    padding-top: 60px;
    margin-bottom 30px
    font-family: "Montserrat", semibold;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-top: 0;
  .toggle__msg__wait__text
      text-align: center;
      font-size 12px
      color: #a6a6a6
      margin-bottom 45px
      margin-left: 50px;
      width 225px
  .toggle__msg__wait__close__btn
    text-align: center;
    color: #3975ce;
    font-size: 16px;
    font-family: "Montserrat";
    text-decoration: underline;

.toggle__msg__succes
  width: 320px;
  height: 300px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 20px #0000002e;
  z-index: 99999;
  position: relative;
  display: none;
  .close__icon
    right: 13px;
    top: 15px;
  .toggle__msg__succes__title
    padding-top: 60px;
    margin-bottom 30px
    font-family: "Montserrat", semibold;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-top: 0;
  .toggle__msg__succes__text
      text-align: center;
      font-size 12px
      color: #a6a6a6
      margin-left: 50px;
      width 219px
      margin-bottom: 0
      span
        font-size 12px
        font-weight: 400;
        color: #000
        line-height 30px
      .toggle__msg__succes__close__btn
        margin-top 40px

  .toggle__msg__succes__close__btn
    text-align: center;
    color: #3975ce;
    font-size: 16px;
    font-family: "Montserrat";
    text-decoration: underline;

.toogle__container
  position: relative;
  margin-left: 45px;
  height: 655px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

.error__msg
  font-size: 12px;
  font-family: "Montserrat";
  color: #f00;
  margin-top: 0;
