.icon__favorites__item
  height: 77px;
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
  padding: 0 13px;
  cursor: pointer;

.icon__favorites__item__icon
  margin: 0;
  font-family: "Montserrat";
  font-size: 12px;
  color: #000;
  font-weight: bolder;
  padding-top: 10px;
  text-align: center;

.icon__favorites__container
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 25px 15px 10px 15px;
  height: 190px;
  overflow: hidden;
  transition: all 200ms ease;

.interesting__container
  padding: 0 12px;

.interesting__item
  border-radius: 12px;
  width: 100%;
  box-shadow: 0px 0px 11px #d4d4d4;

.interesting__item__header
  border-radius: 12px 12px 0 0;
  height: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

.interesting__item__header__title
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #000;
  font-weight: bold;

.interesting__item__content
  display: flex;
  flex-direction: column;
  padding-top: 7px;
  height: 356px;
  overflow: auto;
  border-radius: 0 0 10px 10px;
  transition: all 200ms ease;

.line__interesting
  transition: all 200ms ease;

.lineIntActive
  transform: rotate(180deg);

.interesting__item__content::-webkit-scrollbar
  width: 0;

.line__container
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;

.reclam__banner__favorites
  padding: 12px;
  padding-bottom: 0;

.reclam__banner__item__image
  width: 100%;
  cursor: pointer;

.favorites__footer
  width: 83%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;


.favorites__footer__text
  font-family: "Montserrat";
  color: #3975ce;
  font-size: 10px;
  cursor: pointer;
  font-weight: 600;

.reclam__container__favorite
  transition: all 100ms ease;
  opacity: 1;

.icon__category
  filter: brightness(0);

.selectCategory
  filter: brightness(1);

.img__interesting
  width: 100%;
  height: 138px;
  margin-top: -7px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
