.recieved__discount__chart
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;
  padding-bottom 30px

.recieved__discount__header__row
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content: space-between;
  padding-bottom 20px

.recieved__discount__header__col
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;

.recieved__discount__chart__bottom__container
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content: space-between;
  align-items: center;
  padding-top 15px

.recieved__discount__header__title
  font-size: 16px;
  font-family: "Montserrat";
  margin 0
  padding-bottom 5px

.recieved__discount__header__subtitle
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  color: #bbbbbb

.recieved__discount__header__quantity
  font-size: 18px;
  font-family: "Montserrat";
  font-weight bold
  margin 0

.recieved__discount__chart__hint
  font-size 8px
  font-family: "Montserrat";
  color: #bbbbbb
  margin 0
  width 260px
  line-height 10px

.used__discount__chart
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;

.used__discount__chart__header__row
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content: space-between;
  padding-bottom 20px

.used__discount__header__col
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;

.used__discount__chart__bottom__container
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content: space-between;
  align-items: center;
  padding-top 15px

.used__discount__header__title
  font-size: 16px;
  font-family: "Montserrat";
  margin 0
  padding-bottom 5px

.used__discount__header__subtitle
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  color: #bbbbbb

.used__discount__header__quantity
  font-size: 18px;
  font-family: "Montserrat";
  font-weight bold
  margin 0

.used__discount__chart__hint
  font-size 8px
  font-family: "Montserrat";
  color: #bbbbbb
  margin 0
  width 260px
  line-height 10px

.download__btn
  color: #3975ce;
  font-size: 10px;
  font-family: "Montserrat";
  text-decoration: underline;
  margin 0
  cursor: pointer;
