.photo__main__container
  width 92%
  padding: 0 30px

.discount__user__header
  display -webkit-flex
  display -ms-flex
  display flex
  width 100%
  height 74px
  align-items center;
  position: relative;
  margin-bottom 30px

.user__photo
  width 59px
  height 59px
  border-radius: 50%;
  margin-right 32px
  margin-left 5px

.user
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;
  justify-content: space-between;
  height 57px
  width 190px
  margin-right 56px

.user__surname
  font-size: 15.78px;
  font-family: "Montserrat";
  margin 0
  font-weight: 500;

.user__name
  font-size: 15.78px;
  font-family: "Montserrat";
  margin 0
  padding-bottom 12px
  font-weight: 500;

.user__awards__row
  display -webkit-flex
  display -ms-flex
  display flex

.user__award__item
  width 12px
  height 12px
  padding-right 8px

.user__status
  width 145px
  height 57px
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;
  margin-right 145px

.discont__status
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  position relative
  padding-bottom 12px
  font-weight: 500;

.help__btn
  position: absolute;
  top: -5px;
  right: 6px;
  cursor: pointer

.not__foto
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae
  width 100%
  text-align: center;
  margin-top: 20px;

.user__email
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae
  padding-bottom 12px
  width: 303px;
  span
    margin-left: 20px;

.edit__pofile__btn
  cursor: pointer;
  font-size: 9px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae

.logout__btn
  position: absolute;
  font-size: 9px;
  font-family: "Montserrat";
  top: 10px;
  right: 10px
  color: #aeaeae
  cursor: point

.discount__main__container
  width: 100%
  padding 0 30px

.photo__container
  display -webkit-flex
  display -ms-flex
  display flex
  flex-wrap: wrap;
  justify-content flex-start

.user__photo__item
  height 130px
  width 130px
  border-radius 10px
  margin-right 8px
  margin-bottom 10px
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 200ms ease;

.current__show
  box-shadow: 0px 0px 10px #00000073;

.foto__user__review__not
  height: 59px;
  width: 59px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #aaa;
  font-weight: 400;
  font-size: 25px;
  margin-right 32px
  margin-left 5px

.mini__medal
  width: 8px

.not__awards__header
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae
  width 100%
