.search__container
  padding: 20px 30px;

.list-group-item
  color: #aeaeae;
  cursor: pointer;
  margin-bottom: 25px;
  font-family: "Montserrat";
  span
    color: #000000;

.list-group-item:focus
  outline: none;
