.awards__main__container
  width 92%
  padding: 0 30px

.awards__user__header
  display -webkit-flex
  display -ms-flex
  display flex
  width 100%
  height 74px
  align-items center;
  position: relative;
  margin-bottom 30px

.user__photo
  width 59px
  height 59px
  border-radius: 50%;
  margin-right 32px
  margin-left 5px

.user
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;
  justify-content: space-between;
  height 57px
  width 190px
  margin-right 56px

.user__surname
  font-size: 15.78px;
  font-family: "Montserrat";
  margin 0
  font-weight: 500;

.user__name
  font-size: 15.78px;
  font-family: "Montserrat";
  margin 0
  padding-bottom 12px
  font-weight: 500;

.user__awards__row
  display -webkit-flex
  display -ms-flex
  display flex

.user__award__item
  width 12px
  height 12px
  padding-right 8px

.user__status
  width 145px
  height 57px
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;
  margin-right 145px

.discont__status
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  position relative
  padding-bottom 12px
  font-weight: 500;

.help__btn
  position: absolute;
  top: -5px;
  right: 6px;
  cursor: pointer

.user__email
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae
  padding-bottom 12px
  width: 303px;
  span
    margin-left: 20px;

.edit__pofile__btn
  cursor: pointer;
  font-size: 9px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae

.logout__btn
  position: absolute;
  font-size: 9px;
  font-family: "Montserrat";
  top: 10px;
  right: 10px
  color: #aeaeae
  cursor: pointer

.awards__main__row
  display -webkit-flex
  display -ms-flex
  display flex
  justify-content space-between
  height: 620px
  overflow: auto;

.current__awards__col
  width: 50%
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;

.awards__second__col
  width 52%

.current__award
  display -webkit-flex
  display -ms-flex
  display flex
  margin-bottom 30px
  align-items: center;

.award__img
  margin-right 22px
  width 45px
  height 45px

.about__current__award
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction: column;

.award__name
  font-size: 16px;
  font-family: "Montserrat";
  margin 0
  padding-bottom 12px
  font-weight: 500;

.award__description
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  width: 80%

.achievement__item
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction column
  padding-bottom 40px

.archivement__header__row
  display -webkit-flex
  display -ms-flex
  display flex
  padding-bottom 10px
  align-items center

.archivement__img
  height 49px
  width 49px
  margin-right 10px

.archivement__header__col
  display -webkit-flex
  display -ms-flex
  display flex
  flex-direction column

.archivement__name
  font-size: 16px;
  font-family: "Montserrat";
  margin 0
  font-weight 400
  padding-bottom 10px

.archivement__progress
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae

.archivement__description
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  max-height 86px
  overflow: hidden;

.archivement__medal__bronse
  width 37px

.archivement__medal__silver
  width 37px

.archivement__medal__gold
  width 37px

.foto__user__review__not
  height: 59px;
  width: 59px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #aaa;
  font-weight: 400;
  font-size: 25px;
  margin-right 32px
  margin-left 5px

.not__awards
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae
  width 100%
  text-align: center;
  margin-top: 20px;

.medal
  width 37px
  height 49px

.mini__medal
  width: 8px

.not__awards__header
  font-size: 12px;
  font-family: "Montserrat";
  margin 0
  color: #aeaeae
  width 100%
